In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('/Users/jay/Desktop/Personal-Projects/dataset/Overwatch_edopic.csv')

In [3]:
df.head()

,Heroes,Damage per second,Headshot DPS,Single shot,Nanoboost DPS,Health per Sec,Life,Reload
0,Ana,80.0,NaN,80.0,NaN,75.0,200,10
1,Ana Grenade,NaN,NaN,60.0,NaN,100.0,200,1
2,Bastion Recon,160.0,320.0,NaN,NaN,NaN,300,20
3,Bastion Turret,525.0,1050.0,NaN,787.5,NaN,300,200
4,D.va Mech,168.0,336.0,NaN,NaN,NaN,600,infinity

In [4]:
df.rename(columns={'Damage per second ':'damage_per_sec',
                          'Headshot DPS  ':'headshot_dps',
                          'Single shot':'single_shot',
                          'Nanoboost DPS':'nanoboost_dps',
                          'Health per Sec':'health_per_sec'}, inplace=True)

In [5]:
df.head()

,Heroes,damage_per_sec,headshot_dps,single_shot,nanoboost_dps,health_per_sec,Life,Reload
0,Ana,80.0,NaN,80.0,NaN,75.0,200,10
1,Ana Grenade,NaN,NaN,60.0,NaN,100.0,200,1
2,Bastion Recon,160.0,320.0,NaN,NaN,NaN,300,20
3,Bastion Turret,525.0,1050.0,NaN,787.5,NaN,300,200
4,D.va Mech,168.0,336.0,NaN,NaN,NaN,600,infinity

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 8 columns):
Heroes            58 non-null object
damage_per_sec    53 non-null float64
headshot_dps      25 non-null float64
single_shot       44 non-null float64
nanoboost_dps     10 non-null float64
health_per_sec    12 non-null float64
Life              56 non-null object
Reload            46 non-null object
dtypes: float64(5), object(3)
memory usage: 3.7+ KB

In [79]:
# #make list of all heroes name
# heroes_name<-c('Ana','Bastion','D.va','Junkrat','Genji','Hanzo','Lucio','McCree','Mei','Mercy','Pharah','Reaper','Reinhardt','Roadhog','Soldier','Sombra','Symmetra','Torbj','Tracer','Widowmaker','Winston','Zarya','Zeny','Torretta')

# #loop over the Heroes column to extract the name of the character
# x <- vector(mode="character", length=nrow(df))
# for(i in 1:length(heroes_name)){
#     if(heroes_name[i] == 'Torretta'){
#         temp<-grep(heroes_name[i],df$Heroes)
#         for(k in 1:length(temp)){
#             x[temp[k]]<-'Torbj'
#         }
#     } else {
#         check<-grep(heroes_name[i],df$Heroes)
#         for(j in 1:length(check)){
#             x[check[j]]<-heroes_name[i]
#             }
#         }
# }
# #make new column with Heroes name
# df$Heroes_name<-x

In [81]:
heroes = ['Ana','Bastion','D.va','Junkrat','Genji','Hanzo','Lucio','McCree','Mei','Mercy','Pharah','Reaper','Reinhardt','Roadhog','Soldier','Sombra','Symmetra','Torbj','Tracer','Widowmaker','Winston','Zarya','Zeny','Torretta']

In [ ]:
x = []
for i in range(len(heroes)):
    names = df['Heroes'][i][0:3]

In [94]:
df[df.Heroes.str.contains('Torretta',case=False)]

,Heroes,damage_per_sec,headshot_dps,single_shot,nanoboost_dps,health_per_sec,Life,Reload
39,Torbj Torretta,56.0,NaN,14.0,NaN,NaN,150/300,NaN
40,Torb Torretta MC,126.0,NaN,14.0,NaN,NaN,800,18

In [82]:
x = []
for i in range(len(heroes)):
    if heroes[i] == 'Torretta':
        temp =

['Ana',
 'Bastion',
 'D.va',
 'Junkrat',
 'Genji',
 'Hanzo',
 'Lucio',
 'McCree',
 'Mei',
 'Mercy',
 'Pharah',
 'Reaper',
 'Reinhardt',
 'Roadhog',
 'Soldier',
 'Sombra',
 'Symmetra',
 'Torbj',
 'Tracer',
 'Widowmaker',
 'Winston',
 'Zarya',
 'Zeny',
 'Torretta']

In [63]:
df[df['Heroes'].str.contains("Torb")]

,Heroes,damage_per_sec,headshot_dps,single_shot,nanoboost_dps,health_per_sec,Life,Reload
39,Torbj Torretta,56.0,NaN,14.0,NaN,NaN,150/300,NaN
40,Torb Torretta MC,126.0,NaN,14.0,NaN,NaN,800,18
41,Torbjorn Hammer,75.0,NaN,75.0,NaN,NaN,200,NaN
42,Torbjorn LM,119.0,238.0,70.0,NaN,NaN,200,18
43,Torbjorn Molten LM,175.0,350.0,70.0,NaN,NaN,500,19
44,Torbjorn Molten RM,262.5,525.0,150.0,NaN,NaN,500,NaN
45,Torbjorn RM,195.0,390.0,150.0,NaN,NaN,200,18

In [95]:
df.groupby('Heroes')['damage_per_sec'].median()

Heroes
Ana                    80.0
Ana Grenade             NaN
Bastion Recon         160.0
Bastion Turret        525.0
D.va Mech             168.0
D.va Pistol            93.0
Genji Blade            50.0
Genji Dragonblade     120.0
Genji Shurkien         84.0
Hanzo                 125.0
Junkrat               200.0
Junkrat mine          120.0
Junkrat trap           80.0
Lucio                  64.0
Lucio Soundbarrier      NaN
Lucio Soundwave        25.0
McCree                140.0
McCree Granata         25.0
McCree Sventa         270.0
Mei                    45.0
Mei Blizzard           95.0
Mei Cryo Freeze         NaN
Mei Ghiacciatrice     135.0
Melee                  30.0
Mercy                   NaN
Mercy Pistol          100.0
Pharah                132.0
Reaper                240.0
Reinhardt              75.0
Reinhardt CALA         50.0
Reinhardt Pin         300.0
Roadhog Hook           30.0
Roadhog LM            225.0
Roadhog RM            100.0
Soldier               200.0
Soldier Helix         120.0
Sombra                160.0
Symmetra              120.0
Symmetra Photon       125.0
Torb Torretta MC      126.0
Torbj Torretta         56.0
Torbjorn Hammer        75.0
Torbjorn LM           119.0
Torbjorn Molten LM    175.0
Torbjorn Molten RM    262.5
Torbjorn RM           195.0
Tracer                240.0
Widowmaker Burst      130.0
Widowmaker Snip       120.0
Widowmaker Venom       15.0
Winston                54.0
Winston Salto          50.0
Zarya                 126.0
Zeny trascendence       NaN
Zenyatta              138.0
Zenyatta Orbato       179.4
Zenyatta R2           175.0
Name: damage_per_sec, dtype: float64

In [71]:
for i in range(len(df)):
    names = df['Heroes'][i][0:3]

Ana
Ana
Bas
Bas
D.v
D.v
Gen
Gen
Gen
Han
Jun
Jun
Jun
Luc
Luc
Luc
McC
McC
McC
Mei
Mei
Mei
Mei
Mel
Mer
Mer
Pha
Rea
Rei
Rei
Rei
Roa
Roa
Roa
Sol
Sol
Som
Sym
Sym
Tor
Tor
Tor
Tor
Tor
Tor
Tor
Tra
Wid
Wid
Wid
Win
Win
Zar
Zar
Zen
Zen
Zen
Zen